.html.body{
  height: 100%;
}


.video-frame-wrap{
  overflow:hidden;
  height: 100%;
  position: relative;
  z-index: -1;
}

.video-frame{
  display: block;
  width:100%;
  height: 1000px;
  position: absolute;
  top: -40px;
}

.wrap{
  position:absolute;
}